@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"] {
	@apply border border-slate-300 rounded px-1.5 py-1;
}

input[type="checkbox"] {
	accent-color: rgb(167, 215, 159);
	cursor: pointer;
	/* background-color: rgb(221, 241, 217); */
}

body {
	@apply lg:text-sm;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-5px);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(5px);
	}
}

.dropdown-down,
.dropdown-up {
	animation-fill-mode: forwards;
}

.dropdown-down.enter {
	animation-name: fadeInDown;
	animation-duration: 0.1s;
}

.dropdown-down.exit {
	animation-name: fadeOutUp;
	animation-duration: 0.1s;
}

.dropdown-up.enter {
	animation-name: fadeInUp;
	animation-duration: 0.1s;
}

.dropdown-up.exit {
	animation-name: fadeOutDown;
	animation-duration: 0.1s;
}

.upload-modal.enter {
	animation-name: fadeInUp;
	animation-duration: 0.1s;
}

.upload-modal.exit {
	animation-name: fadeOutDown;
	animation-duration: 0.1s;
}
